$header-display: flex;
$header-justify-content: space-between;

$display: flex;
$flex-direction: column;

@mixin header-position {
  display: $header-display;
  justify-content: $header-justify-content;
}

@mixin list-task-position {
  display: $display;
  flex-direction: $flex-direction;
}

@mixin list-margin-padding {
  margin: 0px;
  padding: 0px;
}
