@charset "utf-8";

@use "../../global/variables" as var;
@use "../../global/mixins" as mix;

.profile-edit {
  width: 500px;
  margin: 0 auto;
}

.profile-form {
  margin: var.$margin-bottom 0;
}

.profile-label,
.profile-label {
  color: var.$secondary-color;
}

.profile-input,
.profile-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: var.$margin-bottom;
}

.profile-button {
  background-color: var.$primary-color;
  color: var.$white-color;
  width: 100px;
  height: 40px;
  border-radius: var.$button-radius;
}
.error-message {
  color: var.$error-color;
}