@charset "utf-8";

@use "../../global/variables" as var;
@use "../../global/mixins" as mix;

.home-label {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}
.book-review--lists {
  margin: 0px;
  padding: 0px;
}
.book-review_id--border {
  margin: 10px;
  padding: 10px;
  border: 1px solid var.$secondary-color;
}

.book-review_title--18px {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 18px;
}
.book-review_url--12px {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 12px;
}

.book-review_reviewer--16px {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 16px;
}

.book-review_review--14px {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 14px;
}
.book-review_review--12px {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 12px;
}
