@charset "utf-8";

@use "../../global/variables" as var;
@use "../../global/mixins" as mix;

.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: var.$margin-bottom 0;
}

.email-label,
.password-label {
  color: var.$secondary-color;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: var.$margin-bottom;
}

.signin-button {
  background-color: var.$primary-color;
  color: var.$white-color;
  width: 100px;
  height: 40px;
  border-radius: var.$button-radius;
}

.error-message {
  color: var.$error-color;
}
