@charset "utf-8";

@use "../../global/variables" as var;
@use "../../global/mixins" as mix;

.edit-review {
  width: 500px;
  margin: 0 auto;
}

.edit-review-form {
  margin: var.$margin-bottom 0;
}

.edit-review--label {
  color: var.$secondary-color;
}

.edit-review--title-input,
.edit-review--url-input,
.edit-review--review-input,
.edit-review--detail-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: var.$margin-bottom;
}

.edit-review--submit-button {
  background-color: var.$primary-color;
  color: var.$white-color;
  width: 100px;
  height: 40px;
  border-radius: var.$button-radius;
}

.edit-review--delete-button {
  background-color: var.$secondary-color;
  color: var.$white-color;
  width: 100px;
  height: 40px;
  border-radius: var.$button-radius;
}
.error-message {
  color: var.$error-color;
}
