@use "../global/variables" as var;
@use "../global/mixins" as mix;

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 80px;
  background-color: var.$primary-color;
  color: var.$white-color;
  @include mix.header-position;

  .user-name{
    color: var.$white-color;
    margin: auto 25px auto auto;
  }
  .sign-out-button {
    color: var.$white-color;
    margin: auto 25px auto auto;
  }
  .sign-in-button {
    color: var.$white-color;
    margin: auto 25px auto auto;
  }
}
