@charset "utf-8";

@use "../../global/variables" as var;
@use "../../global/mixins" as mix;

.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: var.$margin-bottom 0;
  color: var.$secondary-color;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: var.$margin-bottom;
}

.signup-button {
  background-color: var.$primary-color;
  color: var.$white-color;
  width: 100px;
  height: var.$button-height;
  border-radius: var.$button-radius;
  float: right;
}

.error-message {
  color: var.$error-color;
}
