@charset "utf-8";

@use "../../global/variables" as var;
@use "../../global/mixins" as mix;

.post-review{
    width: 500px;
    margin: 0 auto;
}

.new-post-review-label{
    margin: var.$margin-bottom 0;
    color: var.$secondary-color;
}
.new-post-review-title-input,
.new-post-review-url-input,
.new-post-review-detail-input,
.new-post-review-review-input
{
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: var.$margin-bottom;

}
.new-post-review-error-message {
    color: var.$error-color;
}